* {
    font-family: "Rubik", sanm;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: auto auto;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-top: 20px solid red;
    border-bottom: 20px solid blue;
    border-left: 20px double black;
    border-right: 20px dashed black;
}
