@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

    <style>
        table {
            width: 100%;
            table-layout: fixed;
        }

        th {
            font-weight: bold;
            padding: 10px 0;
        }

        td {
            padding: 10px 0;
            border-width: 0 0 2px 0;
        }

        #heading {
            border-color: black;
            border-width: 0 0 3px 0;
        }
    </style>

    <h1 class="d-flex justify-content-center">List of Movies</h1>
    <table class="table table-striped">
        <thead>
            <tr id="heading">
                <th>#</th>
                <th>Movie Name</th>
                <th>Price</th>
                <th>Schedule</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Final Destination Bloodlines</td>
                <td>PHP 325.00</td>
                <td>May 21, 2025</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mission: Impossible - The Final Reckoning</td>
                <td>PHP 325.00</td>
                <td>May 22, 2025</td>
            <tr>
                <td>3</td>
                <td>Thunderbolts*</td>
                <td>PHP 325.00</td>
                <td>May 23, 2025</td>
            </tr>
            </tr>
        </tbody>
    </table>
}
